body {
  background-color: #191B1C;
}

.text {
  color: white;
  font-size: 50px;
}

.header {
  padding:30px
  background-color #ddd
}

.menuList {
  display: grid;
  column-gap: 1em;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  max-inline-size: max-content;
  margin-inline: auto;
  background-color: #ffffff;
  li {
    display: grid;
    place-items: center;
  }
  a {
    line-height: 1.5;
    padding: 1em;
  }
}